@charset "utf-8";
/* CSS Document */

tr:nth-child(even) {background: rgba(222, 222, 222, 0.78)}
tr:nth-child(odd) {background: #FFF}

.displayname {
	width: 20em;
}
.samaccountname {
	width: 10em;
}
.title {
	width: 10em;
}
.telephonenumber, .mobile {
	width: 4.7em;
}
.physicaldeliveryofficename {
	width: 15em;
}
.reset_link_width {
	width: 30em;
}

.reset_link {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}
.reset_link_used {
	text-decoration: none;
	color: default;
}